<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie ie9" lang="en-US">
<![endif]-->
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<title>Delta Digital</title>


	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="delta-enviroment/app/asssets/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="delta-enviroment/app/asssets/stylesheets/animate.css">
	<link rel="stylesheet" href="delta-enviroment/app/asssets/stylesheets/simple-line-icons.css">
	<link rel="stylesheet" href="delta-enviroment/app/asssets/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="delta-enviroment/app/asssets/stylesheets/style.css">

	<link rel="stylesheet" href="files/rs-plugin/css/settings.css">

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	
	<div class="sidebar-menu-container" id="sidebar-menu-container">

		<div class="sidebar-menu-push">

			<div class="sidebar-menu-overlay"></div>

			<div class="sidebar-menu-inner">

				<header class="site-header">
					<div id="main-header" class="main-header header-sticky">
						<div class="inner-header clearfix">
							<div class="logo">
								<a href="index-2.html">Delta Digital</a>
							</div>
							<div class="header-right-toggle pull-right hidden-md hidden-lg">
								<a href="javascript:void(0)" class="side-menu-button"><i class="fa fa-bars"></i></a>
							</div>
							<nav class="main-navigation pull-right hidden-xs hidden-sm">
								<ul>
									<li><a href="index-2.html">Home</a></li>
									<li><a href="#" class="has-submenu">Mission</a>
										<ul class="sub-menu">
											<li><a href="services.html">Within Your Community</a></li>
											<li><a href="clients.html">Around the World</a></li>
										</ul>
									</li>
									<li><a href="#" class="has-submenu">Blog</a>
										<ul class="sub-menu">
											<li><a href="blog-single.html">Discussion</a></li>
										</ul>
									</li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="#" class="has-submenu">Gadgets</a>
										<ul class="sub-menu">
											<li><a href="project.html">The Latest</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</header>

				<section class="page-heading wow fadeIn" data-wow-duration="1.5s" style="background-image: url(files/images/01-heading.jpg)">
					<div class="container">
						<div class="page-name">
							<h1>About</h1>
							<span>Delta Digital</span>
						</div>
					</div>
				</section>

				<section class="call-to-action-1">
					<div class="container">
						<h4>OUR MISSION</h4>
						<p class="col-md-10 col-md-offset-1">Enviromental Consciousness Through Education and Encouragement </p>
					</div>	
				</section>

				<section class="testimonials">
					<div class="container">
						<div class="section-heading">
							<h2>REVIEWS</h2>
							<div class="section-dec"></div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div id="owl-demo" class="owl-carousel owl-theme">
									<div class="item">
								  		<div class="testimonials-post">
								  			<span class="fa fa-quote-left"></span>
								  			<p>“ 5 out of 5, would visit again! ”</p>
								  			<h6>Anthony Vigil- <em> Florida, United States</em></h6>
								  		</div>
								    </div>
								    <div class="item">
								  		<div class="testimonials-post">
								  			<span class="fa fa-quote-left"></span>
								  			<p>“ Good Website Girl ”</p>
								  			<h6>Natalie  - <em>Pennyslyvania, United States </em></h6>
								  		</div>
								    </div>
								    <div class="item">
								  		<div class="testimonials-post">
								  			<span class="fa fa-quote-left"></span>
								  			<p>“ I've never been to your website before”</p>
								  			<h6>Probably John Pope - <em>Massachusetts, United States</em></h6>
								  		</div>
								    </div>
								    <div class="item">
								  		<div class="testimonials-post">
								  			<span class="fa fa-quote-left"></span>
								  			<p>“ Good Stuff”</p>
								  			<h6>Twoshe Han- <em>Maine, United States</em></h6>
								  		</div>
								    </div>
								    <div class="item">
								  		<div class="testimonials-post">
								  			<span class="fa fa-quote-left"></span>
								  			<p>“ I'm giving another quote cause I liked it so much”</p>
								  			<h6>Anthony Vigil - <em>Florida, United States</em></h6>
								  		</div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="team">
					<div class="container">
						<div class="section-heading">
							<h2>Meet The Team</h2>
							<div class="section-dec"></div>
						</div>
						<div class="col-md-4">
							<div class="team-member">
								<img src="files/images/01-team.jpg" alt="">
								<div class="team-content">
									<h3>Lizbeth Marquez</h3>
									<span>Designer</span>
									<p>Native Arizonian, first time ever coding a page. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-member">
								<img src="files/images/02-team.jpg" alt="">
								<div class="team-content">
									<h3>Isatou Saho</h3>
									<span>Manager</span>
									<p>ISATOU MAKE BIO</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-member">
								<img src="files/images/03-team.jpg" alt="">
								<div class="team-content">
									<h3>Cam</h3>
									<span>Content Manager</span>
									<p>The number one.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-member">
								<img src="files/images/01-team.jpg" alt="">
								<div class="team-content">
									<h3>ADO</h3>
									<span>Coder</span>
									<p>BOSTON MAN </p>
								</div>
							</div>
						</div>
					</div>
				</section>
      <footer class="footer">
      <div class="three spacing"></div>
	  <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1>
            <a href="index.html">
             Delta Digital
            </a>
          </h1>
          <p>©2016 Delta Digital.</p>
          <div class="spacing"></div>
          <ul class="socials">
            <li>
              <a href="http://facebook.com">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://dribbble.com">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
            <li>
              <a href="http://tumblr.com">
                <i class="fa fa-tumblr"></i>
              </a>
            </li>
          </ul>
          <div class="spacing"></div>
        </div>
        <div class="col-md-3">
          <div class="spacing"></div>
          <div class="links">
            <h4>Some Pages</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Follow our forum</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="spacing"></div>
        </div>
        <div class="col-md-3">
          <div class="spacing"></div>
          <div class="links">
            <h4>Recent posts</h4>
            <ul>
              <li><a href="#">Reuse!</a></li>
              <li><a href="#">Reduce!</a></li>
              <li><a href="#">Recycle</a></li>
             
            </ul>
          </div>
          <div class="spacing"></div>
        </div>
        <div class="col-md-3">
          <div class="spacing"></div>
          <h4>Email updates</h4>
          <p>We want to share our latest missions with you.</p>
          <form>
            <input class="email-address" placeholder="Your email address" type="text">
            <input class="button boxed small" type="submit">
          </form>
          <div class="spacing"></div>
        </div>
      </div>
	  </div>
      <div class="two spacing"></div>
    </footer>
			
			 
				<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

			</div>

		</div>


	</div>

<script type="text/javascript" src="files/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="files/js/bootstrap.min.js"></script>
	<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="files/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="files/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="files/js/plugins.js"></script>
	<script type="text/javascript" src="files/js/custom.js"></script>
	

	
</body>


</html>