<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="delta-enviroment/app/assets/stylesheets/main.css"/>
</head>
<body>
	<div class="hero">
		<h2>BE A PART OF THE CHANGE</h2>
		<h1><a href="#">START HERE</a></h1>
		<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=P3pxYs36Np8&rel=0">
</iframe>
	</div>
	<p id="footer">&copy; Delta Digital </p>
</body>
</html>
