<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="delta-enviroment/app/assets/stylesheets/main.css"/>
</head>
<body>
	<div class="hero">
<<<<<<< HEAD
		<h1 style="color:white;">BE A PART OF THE CHANGE</h1>
		<h2 style="color:white;"><a href="index.html">START HERE</a></h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/P3pxYs36Np8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
=======
		<h2>BE A PART OF THE CHANGE</h2>
		<h1><a href="/index">START HERE</a></h1>
		 <video width="320" height="240" controls>
        <source src="https://www.youtube.com/watch?v=P3pxYs36Np8&rel=0" type="video/mp4">
      </video>
	</div>
>>>>>>> master
	<p id="footer">&copy; Delta Digital </p>
</body>
</html>
