body {
    background-color: #90EE90; 
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-image: url("footer.png")
}

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: white;
}

h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image:url("delta-enviroment/app/assets/images/earth2.jpg");
  background-size: cover;
  color: white;
}
a {font-size: 20px;
   color: white;
}

.hero a {
	color: white;
	font-size: 1.25em;
	text-decoration: none;
}


