body {
    background-color: #90EE90; 
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: #ffffff;
}

h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image:url("delta-enviroment/app/assets/images/earth2.jpg");
  background-size: cover;
  color: #ffffff;
}
a {font-size: 20px;
   color: #ffffff;
}

.hero a {
	color: #ffffff;
	font-size: 1.25em;
	text-decoration: none;
}
#footer {
  font-size: 0.75rem;
  background-repeat: no-repeat;
 background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}


