<!DOCTYPE html>
<html>

<head>
<title>EnviroKIDS</title>
	<link rel="stylesheet" type="text/css" href="delta-enviroment/app/assets/stylesheets/main.css"/>
</head>
<body>
	<h1>EnviroKIDS</h1>
	<div class="hero">
		<h2>BE A PART OF THE CHANGE</h2>
		<p>Delta Digital</p>
		<a href="#">Start here</a>
	</div>
	<p id="footer">&copy; Delta Digital </p>

</body>
</html>
